.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  cursor: pointer;
  background: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
  font-weight: bold;
}

.footer {
  background-color: #131921;
  color: #fff;
  position: relative;
  display: block;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.header {
  text-align: center;
  background-color: var(--primary-color);
  align-items: center;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}
